boto3>=1.17.0,<2.0.0
data-engineering-pulumi-components @ git+https://github.com/ministryofjustice/data-engineering-pulumi-components.git@main
dataengineeringutils3>=1.1.0,<2.0.0
pulumi>=2.0.0,<3.0.0
pulumi-aws>=3.2.0,<4.0.0
PyYAML>=5.0.0,<6.0.0
